@page
@model Web_Watch_Shop.Pages.SuccessCheckout.IndexModel
@{
}
<div>
	<h1 style="align-items: center; color: green;">Payment Succesfull</h1>

	<p>Payment has been successfully completed. Within 30 minutes, OneShop will contact you to confirm shipping information.</p>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>Personal Information</h4>
					<p><strong>Full Name:</strong> @TempData["Name"]</p>
					<p><strong>Email:</strong> @TempData["Email"]</p>
					<p><strong>Phone Number:</strong> @TempData["Phone"]</p>
				</div>
				<div class="col-md-6">
					<h4>Shipping Information</h4>
					<p><strong>Address:</strong> @TempData["Address"]</p>
					<p><strong>Province/City:</strong> @TempData["Provice"]</p>
					<p><strong>Zip Code:</strong> @TempData["ZipCode"]</p>
					<p><strong>Delivery Method:</strong> @TempData["Delivery"]</p>
				</div>
			</div>
		</div>
		<a asp-page="/Shop/Index" type="submit" value="submit" style="border: none; background-color: red; padding: 10px; text-decoration: none; color: black;">Continue Shopping</a>
	</div>
		@* <div>
			<h4>Tên khách hàng</h4>
			<p>Nguyễn Tấn Sang</p>
		</div>
		<div>
			<h4>Hình thức thanh toán</h4>
			<p>Thanh toán trực tiếp</p>
		</div>
		<div>
			<h4>Địa chỉ nhận hàng</h4>
			<p>Lorem ipsum</p>
		</div>
		<div>
			<h4>Số điện thoại</h4>
			<p>1231241242123</p>
		</div>
		<div>
			<h4>Số tiền</h4>
			<p>20.000.000 VND</p>
		</div> *@
	</div>
</div>

